/* Rana test */
body {
	color: black;
	background: white;
	font-color: white;
	font-family: 'Verizon NHG DS';
	/*font-family: 'Open Sans', sans-serif;*/
	margin: 1% auto 20px auto;
}

.card {
	color: black;
	background: black;
	font-color: white;
	border: 1px solid;
	border-color: white;
	/*         height: 100vh; */
	overflow: auto;
	/* 		font-family: 'Open Sans', sans-serif; */
}

.container {
	margin-left: 90px;
	margin-right: 0px;
} 

.add-new {
	/*         float: right; */
	height: 40px;
	font-weight: bold;
	font-size: 14px;
	text-shadow: none;
	min-width: 100px;
	border-radius: 50px;
	line-height: 13px;
	border-color: red;
}

.selectAllChcekbox {
	height: 18px;
	font-weight: bold;
	font-size: 8px;
	text-shadow: none;
	/* min-width: 60px; */
	border-radius: 50px;
	line-height: 5px;
	border-color: red;
}

mark.red {
	color: #ff0000;
	background: none;
}

mark.blue {
	color: #0000A0;
	background: none;
}
/** SPINNER CREATION **/
.loader {
  position: fixed;
  text-align: center;
  left: 45%;
  margin: 15px auto 35px auto;
  z-index: 9999;
  display: flex;
  width: 50px;
  height: 50px;
  border: 4px solid red;
  border-radius: 50%;
  border-top-color: #000;
  animation: spin 2s linear infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
	0% {transform: rotate(0deg); }
	100% { transform: rotate(360deg);} 
}
@-webkit-keyframes spin {0% {transform: rotate(0deg); }
	100% { transform: rotate(360deg);} 

}

/** MODAL STYLING **/
.modal-content {
	border-radius: 0px;
	box-shadow: 0 0 20px 8px rgba(0, 0, 0, 0.7);
}

.modal-backdrop.show {
	opacity: 0.75;
}

.loader-txt {p { font-size:13px;
	color: #666; small { font-size : 11.5px;
	color: #999;
}

}
}
.my-custom-scrollbar {
	position: relative;
	height: 200px;
	width: 100%;
	overflow: auto;
}

.table-wrapper-scroll-y {
	display: block;
}

.fixedheader {
	position: sticky;
	top: 0;
	background-color: black;
}

.tooltip-inner {
    max-width: 200px;
    font-size: 12px;
    color: white;
   	background-color: black;
    border-radius: 8px; 
    border: 1px solid red;
}